.intro {
    color: #000000;
    font-family: "goueah-jeremiah-black-italic", monospace;
    font-weight: 900;
    font-size: 72px;
    width: 100%;
    padding: 30px 100px;
}

.login_button {
    width: 100%;
    font-size: 45px;
}