.stats {
    width: 100%;
    // font-family: "goueah-jeremiah-remake", monospace;
    font-size: 22px;
    font-weight: 700;
    margin: 0 100px;
    color: wheat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    .stateName {
        &_lucky {
            grid-column-start: 1;
            grid-row-start: 1;
        }

        &_score {
            grid-column-start: 1;
            grid-row-start: 2;
        }

        &_time {
            grid-column-start: 1;
            grid-row-start: 3;
        }

        &_awards {
            grid-row: span 4 / span 4;
            grid-column-start: 2;
            grid-row-start: 1;
        }
    }

    // animation: shining 2s ease-in-out infinite alternate;
}

@keyframes shining {
    from {
        color: wheat;
    }

    to {
        color: #000;
    }

}

.awards {
    display: flex;
    row-gap: 8px;
    column-gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.award {
    width: 50px;
    height: 50px;
    fill: wheat;
}

.toolTip {
    background-color: #000;
}